<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <appSettings>
    <add key="ServiceBusConnectionString_Subscriber" value="Endpoint=sb://[your namespace].servicebus.windows.net;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=[your secret]" />
    <add key="ReceivingQueueName" value="[Queue Name]" />
    <add key="MessageStorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=[Storage Account name];AccountKey=[Storage primary key]" />
  </appSettings>
</configuration>