<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <appSettings>
    <add key="ServiceBusConnectionString_Subscriber" value="Endpoint=sb://hmbus1.servicebus.windows.net/;SharedSecretIssuer=owner;SharedSecretValue=OCvdvCDCoMx2bdy4+dG0Y2zGDgTusJof8FNgx4TDyxg=" />
    <add key="ReceivingQueueName" value="CompetingConsumersQueue" />
    <add key="MessageStorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=ccmessagedata;AccountKey=HqcqPZRN0Y2OYEzULhXzdOXATwwOR1TBPJA5CIr+EsrN7kWFpfTFjZq+qmhEGeuxwKwTVvuwVblUua9BK9Kq+w==" />
  </appSettings>
</configuration>